.loader {
    content: 'Hello';
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: black;
    color: black;
    z-index: 20;
    animation: fade 5s ease forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Monsieur La Doulaise', cursive;

}

@keyframes fade {
    50% {
        opacity: 50;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

#Hero::before {
    content: "";
    width: 200px;
    height: 200px;
    background-color: #867d0000;
    position: absolute;
    top: 10%;
    left: 10%;
    filter: blur(10rem);
    z-index: -1;
}

#Hero::after {
    content: "";
    width: 200px;
    height: 200px;
    background-color: #4c018600;
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: -1;
    filter: blur(10rem);
    transition: all ease 0.5s;
    transform: rotateZ(-30deg);
    transform-origin: left bottom;
}

html {
    scroll-behavior: smooth;
}

/* Scrollwatcher */

#scroll-line {
    width: 100vw;
    height: 4px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    scale: 0 1;
    transform-origin: left;
    animation: scroll-line-grow linear;
    animation-timeline: scroll();
    z-index: 11;
}


@keyframes scroll-line-grow {
    to {
        scale: 1 1;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}



/* SOCIAL LINKS STYLE */


.social-link-box ul {
    display: flex;
    justify-content: space-evenly;
    /* outline: 1px solid ; */
    padding: 2rem;
}

.social-link-box ul li {
    font-size: 2.5rem;
    line-height: 0;
    transition: all 0.3s linear;
    animation: flote;
}

.social-link-box ul li:nth-child(1) {
    &:hover {
        text-shadow: 0 0 30px #0a66c2;
        color: #0a66c2;
    }
}

.social-link-box ul li:nth-child(2) {
    &:hover {
        text-shadow: 0 0 30px #555555;
        color: #555555;
    }
}

.social-link-box ul li:nth-child(3) {
    &:hover {
        text-shadow: 0 0 30px #df1156;
        color: #df1156;
    }
}

.social-link-box ul li:nth-child(4) {
    &:hover {
        text-shadow: 0 0 30px #d50ef0;
        color: #d50ef0;
    }
}

.social-link-box ul li:nth-child(5) {
    &:hover {
        text-shadow: 0 0 30px #12f164;
        color: #12f164;
    }
}

/* Crouser */

.circle {
    --circle-size: 10px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border-radius: 100%;
    top: calc(var(--circle-size)/2 * -1);
    left: calc(var(--circle-size)/2 * -1);
    pointer-events: none;

    z-index: 2000;

    /* filter: invert(100%); */
}

/* SCROLL DOWN */

.turn-left {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    /* outline: 1px solid gray; */
    transform: rotateZ(270deg);
    transform-origin: left;
    animation: fade-out linear forwards;
    animation-timeline: view(300px);
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

.code {
    font-family: monospace;
    font-weight: 900;
}
