* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

.circle {
    background-color: var(--font-color);
    box-shadow: 0px 0px 15px var(--font-color);

}

:root {
    /* Light Theme Colors */
    --color-primary-light: #058c42;
    --color-secondary-light: #e8eef2;
    --color-2secondary-light: #ffffff;
    --color-accent-light: #cafe48;
    --font-color-light: #0e100f;
    --shadow-color-light: #000000;


    /* Dark Theme Colors */
    --color-primary-dark: #058c42;
    --color-secondary-dark: #0e100f;
    --color-2secondary-dark: #000000;
    --color-accent-dark: #cafe48;
    --font-color-dark: #e8eef2;
    --shadow-color-dark: #505050da;
}

/* Themes */
.theme-light {
    --color-primary: var(--color-primary-light);
    --color-secondary: var(--color-secondary-light);
    --color-accent: var(--color-accent-light);
    --font-color: var(--font-color-light);
    --shadow-color: var(--shadow-color-light);
    --color-2secondary: var(--color-2secondary-light);
}

.theme-dark {
    --color-primary: var(--color-primary-dark);
    --color-secondary: var(--color-secondary-dark);
    --color-accent: var(--color-accent-dark);
    --font-color: var(--font-color-dark);
    --shadow-color: var(--shadow-color-dark);
    --color-2secondary: var(--color-2secondary-dark);
}


body {
    /* min-height: 400vh; */

    background-color: var(--color-secondary);
    transition: background-color 0.3s ease;
    /* background: linear-gradient(to right,#43c6ac, #f8ffae); */
    color: var(--font-color);
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

main {
    position: relative;
}

header {
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

header nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

header li,
.sidebar li {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: var(--color-primary);
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

}

/* hover style */

.hover-style-1 {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: var(--color-primary);
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

}

/* hover style */


/* mobile */
@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    #navigation-links {
        display: block;
    }

    .content {
        flex-direction: column;
    }

    .hero-img-box {
        width: 100%;
    }
}

.hidden {
    display: none;
}


button {
    padding: 1rem;
    border: none;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-secondary-light);
    font-weight: 600;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0px;
    /* Initially hidden off-screen */
    padding: 1rem;
    width: 250px;
    height: 100svh;
    border-radius: 0 1rem 1rem 0;
    background-color: var(--color-secondary);
    box-shadow: 0 10px 30px var(--color-2secondary-dark);
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 20;
    overflow: auto;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: stretch; */
}

.moved-left {
    left: -250px;
    box-shadow: none;
}

.upper {
    display: flex;
    /* justify-content: end; */
}

.middle {
    margin: 1rem 0;
    overflow-y: scroll;
    position: relative;
}

.middle::-webkit-scrollbar {
    display: none;
}

.sidebar ul li {
    list-style: none;
    /* outline: 1px solid salmon; */
    background-color: var(--color-2secondary);
    border: solid 2px hsla(0, 0%, 50%, 0.349);
    padding: 1rem;
    margin: 5px 0;
    border-radius: 10px;
}

.sidebar ul li i {
    font-size: 1.2rem;
}

section {
    min-height: 100svh;
    /* outline: 2px solid cyan; */
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    /* position: absolute; */
    /* top: 4rem; */
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;


    margin-inline: auto;
}

.hero-txt-box {
    max-width: 70ch;
}

.hero-txt-box h2 {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 4rem;
    display: inline-block;

}

.gradient-txt {
    color: yellow;
    background-image: linear-gradient(45deg, #631199, #d13abd, #efbd8a, #11da0a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all ease 0.5s;
}

.gradient-txt:hover {
    letter-spacing: 5px;
}

.hero-txt-box h1 {
    font-size: 3rem;
}

.hero-txt-box h1 span {
    color: var(--color-primary);
}

.hero-txt-box p {
    font-size: 1.2rem;
}

.hero-img-box {
    border: solid 1px red;
    aspect-ratio: 1;
    min-width: 40%;
    background-size: cover;
    align-self: last baseline;
}


@media only screen and (max-width: 600px) {
    .social-link-box ul li:nth-child(1) {
        text-shadow: 0 0 30px #0a66c2;
        color: #0a66c2;
    }

    .social-link-box ul li:nth-child(2) {
        text-shadow: 0 0 30px #555555;
        color: #555555;
    }

    .social-link-box ul li:nth-child(3) {
        text-shadow: 0 0 30px #df1156;
        color: #df1156;
    }

    .social-link-box ul li:nth-child(4) {
        text-shadow: 0 0 30px #b2d438;
        color: #b2d438;
    }

    .social-link-box ul li:nth-child(5) {
        text-shadow: 0 0 30px #12f164;
        color: #12f164;
    }
}

#Projects {
    position: relative;
}

.card-landscape {
    position: sticky;
    top: 15vh;
}


/* Contact */

.big-box{
    max-width: 800px;
    width: 90vw;
    /* min-height: 70vh; */
    border-radius: calc(2rem + 4px);
    padding: 4px;
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        background-image: conic-gradient(from var(--angle), #1515dd, #db1547, #db1547, #1515dd);
        border-radius: calc(2rem + 4px);
        height: 100%;
        width: 100%;
        /* scale: 1.01; */
        /* padding: 2px; */
        animation: autorotate 2s linear infinite;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all ease-in-out 0.3s;
    }

    &::after{
        content: '';
        position: absolute;
        background-image: conic-gradient(from var(--angle), #1515dd, #db1547, #db1547, #1515dd);
        height: 100%;
        width: 100%;
        filter: blur(20px);
        border-radius: calc(2rem + 4px);
        animation: autorotate 2s linear infinite;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -5;
    }
}

.form-container{
    overflow: hidden;
    height: 100%;
    
    background-color: var(--color-secondary);
    border-radius: 2rem;
    padding: 10px;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 600px) {
    .form-container{
        grid-template-areas: "right";
        grid-template-columns: 1fr;
        /* background-image: url(Asset/Pic/geometric-shape-1.jpeg) ; */
        background-position: center;
        background-size: cover;
        
    }
}

.form-container .left{
    grid-area: left;
    background-image: url(Asset/Pic/illusion-square.png);
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

form{
    /* background-color: rgba(22, 216, 200, 0.349); */
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input, textarea{
    padding: 1rem;
    width: 80%;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 10px ;
    margin: 10px;
    outline: solid 2px var(--color-primary);
    /* background-color: transparent; */

    &:active{
        border: none;
    }

}
form button{
    width: 80%;
    border-radius: 1rem;
}

